body { 
    background:#FF6F61

}

h1 
{   padding: 20pt%;
    margin: 10pt;
    background:#92A8D1;
    font-family: sans-serif;
    text-align: center;
    font-size: 48pt;
}

h2{padding:5%;
background: lightseagreen;
margin: 15%;        
font-family: sans-serif;
text-align: center} 

body{ 
font-family: monospace;
font-size: 30pt;
text-align: center;
margin: 30%;

}

