body { 
    background: lightcoral

}

h1 
{padding: 10%;
    margin: 5% ;
    background: lightblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 48pt;
}

h2{padding:5%;
background: lightseagreen;
margin: 30%;        
font-family: cursive;
text-align: center} 

body{ 
font-family: monospace;
font-size: 30pt;
text-align: center;
}
